* {
    box-sizing: border-box;
}

:root {
    --slate-300: rgb(213, 225, 239);
    --slate-500: rgb(104, 119, 141);
    --slate-900: rgb(31, 49, 79);
}

body {
    font-family: "Outfit", serif;
    background-color: var(--slate-300)
}


.parent {
    background-color: #d5e1ef;
    height: 80VH;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.parent .container .card {
    grid-area: 2 / 2 / 3 / 3;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 280px;
    background-color: white;
    border-radius: 5%;
    padding-top: 12px;
    padding-bottom: 22px;
}

.parent .container .card img {
    width: 257px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.parent .container .card h3 {
    text-align: center;
    color: var(--slate-900);
    margin-top: 15px;
    margin-bottom: 0px;
    padding: 0;
    max-width: 220px;
}

.parent .container .card p {
    color: var(--slate-500);
    font-size: 15px;
    max-width: 170px;
    text-align: center;
    margin-top: 19px;
}

@media (min-width: 375px) {
    .parent {
        width: 374px;
    }

    .container {
        margin-top: 40px
    }
}